@model ContactFormViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>
        <h2>Contact Form Results</h2>
    </title>
</head>
<body>
<div>
    <div class="row">
        <dl class="row">
            <dt class="col-sm-3">Name:</dt>
            <dd class="col-sm-9">@Model.Name</dd>

            <dt class="col-sm-3">Email:</dt>
            <dd class="col-sm-9">@Model.Email</dd>

            <dt class="col-sm-3">Phone:</dt>
            <dd class="col-sm-9">@Model.Phone</dd>

            <dt class="col-sm-3">Message:</dt>
            <dd class="col-sm-9">@Model.Message</dd>
        </dl>
    </div>
</div>
</body>
</html>