<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Intro_ASP.NET_Core</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
@RenderBody()
<script src="~/js/main.js"></script>
</body>
</html>